.all-posts {
  margin-bottom: 6rem;
}

.posts-list {
  height: auto;
  padding: 0 10%;
}

@media (max-width: 768px) {
  .all-posts {
    margin-bottom: 0;
  }

  .posts-list {
    padding: 0 5% var(--size-8);
  }
}
