.project {
  background-color: transparent;
  color: var(--color-grey-1000);
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.image,
.image1 {
  width: 50%;
  max-height: 14.375rem;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.image {
  transform: translateX(200px);
}

.image1 {
  transform: translateX(-200px);
}

.image.inview,
.image1.inview {
  opacity: 1;
  transform: none;
  transition: all 0.9s ease-out 0.9s;
}

.image img,
.image1 img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.text,
.text1 {
  width: 50%;
  border: 2px solid var(--color-primary-400);
  opacity: 0;
}

.text {
  transform: translateX(-200px);
}

.text1 {
  transform: translateX(200px);
}

.text.inview,
.text1.inview {
  opacity: 1;
  transform: none;
  transition: all 0.9s ease-out 0s;
}

@media screen and (max-width: 768px) {
  .image,
  .image1 {
    display: none;
  }

  .text,
  .text1 {
    width: 100%;
    transform: none;
    opacity: 1;
  }
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content span {
  font-style: italic;
  color: var(--color-primary-400);
}

.content p {
  line-height: var(--size-6);
  padding: var(--size-4) 0 var(--size-6);
}

.links {
  margin-bottom: var(--size-4);
}

.links a {
  font-size: var(--size-6);
  color: var(--color-grey-900);
  padding: 0 var(--size-2);
}

.links a:hover {
  color: var(--color-primary-400);
}
